.frame-app {
    width: 40vw;
    margin: 2vh 30vw;
    background-color: #f2f2f2;
    padding: 2%;
    border-radius: 7px;
    height: 90vh;
}

.frame-body {
    margin-top: 2rem;
}

.list-todo {
    width: 100%;
    float: left;
    border-bottom: 1px solid black;
}

.deskripsi {
    width: 70%;
    float: left;
}

.action-opt {
    width: 30%;
    float: left;
    padding: 1.3rem 0;
}

.btn-delete, .btn-edit, .btn-done {
    font-weight: bolder; 
    height: 2rem;
    padding: 0 0.5rem;
    margin: 0 0.2rem;
}