.form_todo {
    width: 94%;
    background-color: #fff;
    border-radius: 7px;
    padding: 3%;
}

.description {
    width: 65%;
    padding: 0 5px;
}

.btn_add {
    margin-left: 5%;
    width: 26%;
}

.description, .btn_add {
    border-radius: 5px;
    height: 2rem;
}